/* This is styled for all about Ice Cream */

body {
	background-color: white;
	background-image: url("../images/background.jpg");
	background-size: cover;
 	
}

li{
	font-size: 1.75em;
	color: white;
	font-family: 'Quicksand-Bold.otf', sans-serif;

}

p{
	font-family: 'Quicksand-Bold.otf', sans-serif;
	color: 	white;
	font-size: 1.6em
}

#factsPic {

	height: 450%;
	width: 80%;

}

#compPic {
	margin-top: 50px;
}



#threatsPic{
	height: 100x;
	width: 400px;
	margin-bottom: 10px;
}

#cyberPara {
	margin-left: 30% ;
	margin-right: 30% ;
}


.dropdown-content{
	display: none;
	position: absolute;
	background-color: rgba(242, 166, 179, .75);
	width: 90%; 
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-top: 0%;
	margin-left: 5%;

}

.dropdown {
	display: inline-block;
	position: relative;
	color: blue;
	font-size: 2em;
	font-family: 'archistico', sans-serif;
	background-color: rgba(193, 255, 255, .75);
	text-align: center;
	width: 24%;

}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	background-color: rgba(193, 255, 255, .75);
	color: blue;
	padding: 10px 16px;
	text-decoration: none;
	display: block;
	font-size: 25px;
}

.dropdown-content a:hover {
	background-color: rgba(255, 255, 255, .75);
}

.threats {
	background-color: rgba(193, 255, 255, .75);

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-size: 3.5em;
	color: white;
	font-family: 'Quicksand-Bold.otf', sans-serif;

}

h2 {
	font-size: 2.25em;
	color: Black;
	text-align: center;
	font-family: 'Quicksand-Bold.otf', sans-serif;
	background-color: rgba(193, 255, 255, .75);

}

h3 {
	font-size: 1.75em;
	color: white;
	font-family: 'Quicksand-Bold.otf', sans-serif;
	background-color: rgba(193, 255, 255, .75);

}
h4 {
	font-size: 1.8em;
	color: White;
	text-align: center;
	font-family: 'Quicksand-Bold.otf', sans-serif;


}

h5 {
	font-size: 1.75em;
	color: white;
	font-family: 'Quicksand-Bold.otf', sans-serif;

}



@font-face {
	font-family: 'Quicksand-Bold.otf';
	src: url("../fonts/quicksand/Quicksand-Bold.otf"); 
}

